@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Josefin Sans', sans-serif;
	color: #5C5C5C;
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
}

a{
	display: block;
}

a, a:hover, a:active{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.navbar{
	position: relative;
    z-index: 100;
    padding: 0;
    margin-bottom: -124px;
}

.logo{
	width: auto;
	height: 57px;
}

.btn-primary{
	background: linear-gradient(133.15deg, #D0A349 0%, #F7CC75 100%);
	padding: 15px 70px 15px 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	display: inline-block;
	border: none;
}

.btn-primary:hover{
	background: linear-gradient(313.15deg, #D0A349 0%, #F7CC75 100%);
	text-decoration: none;
}

.btn-primary:active{
	background: linear-gradient(313.15deg, #7D4F11 1.96%, #AC854F 97.49%);
}


section{
	margin-bottom: 60px;
}

.container-fluid{
	padding-left: 0;
    padding-right: 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-top{
	 width: 100%;
    float: left;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 15px;
}

.menu-top > ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	    float: right;
}
.menu-top > ul:before,
.menu-top > ul:after {
  content: "";
  display: table;
}
.menu-top > ul:after {
  clear: both;
}
.menu-top > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

.menu-top > ul > li a {
    text-decoration: none;
    padding: 0.7em 1.5em;
    display: block;
    color: #B68A39;
	position: relative;
	font-size: 18px;
}

.menu-top > ul > .active > a:after {
	position: absolute;
    width: 100%;
    background-color: #f3c770;
    bottom: 0;
    height: 4px;
    left: 0;
    z-index: 1;
}

.menu-top > ul > li a:after {
	content: ""
}

.menu-top > ul > li a:hover, .menu-top > ul > .active > a{
  color: #f3c770;
}

.menu-top > ul > li a:hover:after {
	position: absolute;
    width: 100%;
    background-color: #f3c770;
    bottom: 0;
    height: 4px;
    left: 0;
    z-index: 1;
}

.menu-container {
  width: 80%;
  margin: 0 auto;
}
.menu-mobile {
  display: none;
  padding: 20px;
}
.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
	color: white;
}

.menu{
	float: left;
	width: 100%;
}

.menu > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li:first-child a{
    padding: 0 1.5em;
	padding: 0 1.5em 0 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.7em 1.5em;
    display: block;
    color: white !important;
	position: relative;
}

.menu > ul > li a.menu-title:after {
	content: ""
}

.menu > ul > li:hover a.menu-title {
  color: #f3c770 !important;
}

.menu > ul > li:hover a.menu-title:after {
	content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 3px;
    width: 100%;
    text-align: center;
    background: #f3c770;
    z-index: 100;
}

.menu > ul > li > ul {
    display: none;
    background: white;
    padding: 20px;
    position: absolute;
    z-index: 99;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 4px solid #41201f;
    left: 10%;
    top: 51px;
	width: 90%;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
      width: 100%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
    color: #000 !important;
    padding: 20px;
    width: 331px;
    display: block;
    border-bottom: 1px solid #ebebeb;
    float: left;
}
.menu > ul > li > ul > li > ul {
  	display: block;
  	padding: 0;
  	margin: 10px 0 0;
  	list-style: none;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
	width: 65%;
    float: left;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
  border: 0;
}
.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 991px) {
  .menu-container {
    width: 100%;
  }
  .menu-mobile {
    display: block;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
	
    /* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    /* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    /* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
	
  .menu > ul > li a i{
	  float: right;
  }
	
  .menu > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu > ul .menu-container {
    width: 80%;
    margin: 0 auto;
    background: #e9e9e9;
  }
  .menu > ul .menu-mobile {
    display: none;
    padding: 20px;
  }
  
  .menu > ul .menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > ul .menu > ul:before,
  .menu > ul .menu > ul:after {
    content: "";
    display: table;
  }
  .menu > ul .menu > ul:after {
    clear: both;
  }
  .menu > ul .menu > ul > li {
    float: left;
    background: #e9e9e9;
    padding: 0;
    margin: 0;
  }
  .menu > ul .menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
  }
  .menu > ul .menu > ul > li:hover {
    background: #f0f0f0;
  }
  .menu > ul .menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > ul .menu > ul > li > ul:before,
  .menu > ul .menu > ul > li > ul:after {
    content: "";
    display: table;
  }
  .menu > ul .menu > ul > li > ul:after {
    clear: both;
  }
  .menu > ul .menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
  }
  .menu > ul .menu > ul > li > ul > li a {
    color: #777;
    padding: 0.2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
  }
  .menu > ul .menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > ul .menu > ul > li > ul > li > ul:before,
  .menu > ul .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
  }
  .menu > ul .menu > ul > li > ul > li > ul:after {
    clear: both;
  }
  .menu > ul .menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
  }
  .menu > ul .menu > ul > li > ul > li > ul > li a {
    border: 0;
  }
  .menu > ul .menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
  }
  .menu > ul .menu > ul > li > ul.normal-sub > li {
    width: 100%;
  }
  .menu > ul .menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
  }
  .menu .show-on-mobile {
    display: block;
  }
	

}

@media only screen and (max-width: 991px) {
  .menu > ul .menu-container {
    width: 100%;
  }
  .menu > ul .menu-mobile {
    display: block;
  }
  .menu > ul .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul .menu > ul {
    display: none;
  }
  .menu > ul .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul .menu > ul > li > ul {
    position: relative;
  }
  .menu > ul .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu > ul .menu .show-on-mobile {
    display: block;
  }
}


/* Homepage History */
.bg-shadow{
	background-color: #FFFFFF;
	box-shadow: 0 24px 32px 0 rgba(82,97,115,0.1);
	border-top: 4px solid #D8B266;
}

.column{
	margin-top: 30px;
	margin-bottom: 70px;
}

.column h1{
	font-size: 46px;
	letter-spacing: 2px;
}

.color-brown{
	color: #41201F;
}

.column p{
	margin-bottom: 70px;
	margin-top: 50px;
}

/* Homepage Chocolate */

.color-white{
	color: white !important;
}

/* Homepage Product List */

.bg-chocolate-image{
	background-image: url(../images/bg/bg-content-chocolate.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.bg-ilgelato-image{
	background-image: url(../images/bg/bg-content-ilgelato.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.product-slider-list {
	background-color: #FFFFFF;
	box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);
	margin-right: 15px;
    margin-left: 15px;
	margin-bottom: 25px;
}

.chocolate-color .product-pic-list{
	background: linear-gradient(134.79deg, #F7F1E2 0%, #E2D2AB 100%);
}

.ilgelato-color .product-pic-list{
	background: linear-gradient(134.7deg, #EBF2EB 0%, #C0DCC0 100%);
}

.product-pic-list{
	text-align: center;
	padding: 20px;
}

.product-detail-list{
	background-color: white;
	padding: 20px;
	height: 120px;
}

.product-detail-list h1{
	font-weight: 500;
	font-size: 20px;
	color: #262626;
	margin-top: 0;
    margin-bottom: 5px;
}

.product-detail-list p{
	color: #5C5C5C;
	font-weight: 300;
}

.product-detail-button{
	width: 100%;
	padding: 20px;
	font-size: 16px;
	border-top: 1px solid #EDEAE5;
	background-color: white;
	color: #D4A74D;
	height: 62px;
}

.product-detail-button span{
	float: left;
}

.product-detail-button i{
	float: right;
}

.chocolate-color a:hover .product-detail-list h1{
	color: #D4A74D;
}

.chocolate-color a:hover .product-detail-button{
	background: linear-gradient(313.15deg, #D0A349 0%, #F7CC75 100%);
	color: white;
}

.ilgelato-color a:hover .product-detail-list h1{
	color: #539F4A;
}

 .ilgelato-color a:hover .product-detail-button{
	background: linear-gradient(313.15deg, #99A727 2.44%, #DAA743 97.79%);
	color: white;
}

.variable-prev, .variable-next{
	height: 52px;
	width: 52px;
	border: 1px solid #E0E5EE;
	color: #D4A74D;
	text-align: center;
	padding: 15px;
}

.variable-prev:hover, .variable-next:hover{
	background-color: black;
	color: white;
	border: 1px solid #000;
}

.variable-prev{
	float: left;
}

.variable-next{
	float: right;
}

.bg-ilgelato-left{
    padding-top: 68px;
    padding-bottom: 68px;
	padding-right: 30px;
	background-color: #edfbf5;
}

.bg-pernigotti-right{
    padding-top: 68px;
    padding-bottom: 68px;
	padding-left: 30px;
	background-color: #faf2e8;
}

.bg-two-color{
	background: linear-gradient(to right, #edfbf5, #edfbf5 57%, #faf2e8 43%, #faf2e8);
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}

.recipe{
	margin-bottom: 30px;
}

.recipe h1{
	color: #41201F;
	font-size: 34px;
	margin-bottom: 0;
    margin-top: 0;
	letter-spacing: 1px;
}

.recipe h2{
	color: #B79858;
	font-family: "Josefin Sans";
	font-size: 20px;
	font-weight: normal
}

.recipe-list-home{
	background-color: #FFFFFF;
    box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);
	margin-bottom: 30px;
}

.recipe-pic-list-home{
	height: 100%;
    background-size: cover;
    background-position: center center;
	text-align: center;
}

.recipe-pic-list-home img{
    width: 64px;
    height: 64px;
    margin-top: 3vw;
	opacity: 0.8;
}

.recipe-detail-list-home{
	margin-left: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
	padding-right: 15px;
	height: 180px;
}

.recipe-detail-list-home h1 {
    font-weight: 500;
    font-size: 20px;
    color: #539F4A;
    margin-top: 0;
    margin-bottom: 5px;
}

.recipe-detail-list-home p {
	color: #5C5C5C;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 300;
}

.recipe-detail-button-home{
	text-align: right;
	color: #353535;
	    position: absolute;
    right: 30px;
    bottom: 10px;
}

.recipe-list-home a:hover .recipe-detail-button-home, .recipe-list-home a:hover .recipe-pic-list-home img{
	color: #D4A74D;
	opacity: 1;
}

.activity {
    margin-bottom: 30px;
}

.activity h1{
	color: #41201F;
	font-size: 34px;
	margin-bottom: 0;
    margin-top: 0;
	letter-spacing: 1px;
}

.activity h2{
	color: #B79858;
	font-family: "Josefin Sans";
	font-size: 20px;
	font-weight: normal
}

.activity-list-home{
	background-color: #FFFFFF;
    box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);

    margin-bottom: 30px;
}

.activity-pic-list-home{
	background-color: #F2DEC1;
    text-align: center;
    height: 100%;
}

.activity-pic-list-home h1{
	color: #6C5952;
    font-size: 56px;
    font-weight: 600;
    padding-top: 22%;
    margin: 0;
}

.activity-pic-list-home h2{
	color: #6C5952;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.activity-detail-list-home{
	margin-left: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
	padding-right: 15px;
	height: 180px;
}

.activity-detail-list-home h1 {
    font-weight: 500;
    font-size: 20px;
    color: #804D36;
    margin-top: 0;
    margin-bottom: 5px;
}

.activity-detail-list-home p {
	color: #5C5C5C;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 300;
}

.activity-detail-button-home{
	text-align: right;
	color: #353535;
	    position: absolute;
    right: 30px;
    bottom: 10px;
}

.activity-list-home a:hover .activity-detail-button-home{
	color: #D4A74D;
}

/* Head Images Background */

.t-150{
	padding-top: 150px;
}

.head-image{
	width: 100%;
    height: 768px;
    top: 0;
}

.bg-chocolate-head-image{
	background-image: url(../images/bg/bg-head-chocolate.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-ilgelato-head-image{
	background-image: url(../images/bg/bg-head-ilgelato.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-passioni-head-image{
	background-image: url(../images/bg/bg-content-passioni.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


/* Background Color */

.bg-chocolate-color{
	background-image: url(../images/bg/bg-chocolate-color.jpg);
	background-repeat: repeat-x;
	    padding-top: 50px;
}

.bg-stick-color{
	background-image: url(../images/bg/bg-stick-color.jpg);
	background-repeat: repeat-x;
	    padding-top: 50px;
}

.bg-cornet-color{
	background-image: url(../images/bg/bg-cornet-color.jpg);
	background-repeat: repeat-x;
	    padding-top: 50px;
}



/* Chocolate Page List */

.head-style{
	margin-top: 20px;
	margin-bottom: 30px;
}

.m-top-70{
	margin-top: 70px;
}

.head-style h1{
	color: #FFFFFF;
	font-size: 46px;
	letter-spacing: 1px;
	line-height: 47px;
	margin-top: 0;
}

.head-style h2{
	opacity: 0.7;
	color: #D8B266;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.head-style p{
	opacity: 0.7;
	color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 28px;
}

.category-product{
	margin-bottom: 30px;
}

.category-product h1{
	color: #41201F;
	font-size: 40px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.category-product p{
	width: 70%;
}

.product-list{
	margin-bottom: 30px;
}

.product-list a{
	background-color: #FFFFFF;
    box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);
}

/* BreadCrumb */

.breadcrumb{
	background-color: transparent;
    padding: 0;
}

.breadcrumb-item a{
	font-size: 18px;
	line-height: 26px;
	color: #D8B266;
}

.breadcrumb-image img{
	height: 8px;
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.breadcrumb-item.active{
	color: #7A5F2A;
}

/* BreadCrumb */

.tabs a{
	border-bottom: 1px solid white;
	display: flow-root;
}

.tabs a h4{
	color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	float: left;
	font-weight: 300;
	margin-top: 30px;
}

.tabs a:hover h4{
    color: #D8B266;
}

.tabs a img{
	float: right;
}

.scrolldown{
	margin-top: 100px;
}

.scrolldown img{
	width: 56px;
	height: 56px;
}

/* ilgelato Map */

.t-70{
	margin-top: 70px;
}

.ilgelato-map{
	margin-top: auto;
	margin-bottom: auto;
}

.ilgelato-map h4{
	color: #41201F;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 42px;
	margin-bottom: 20px;
}

.ilgelato-map span{
	color: #3B8C9F;
}

.ilgelato-map p{
	color: #3B8C9F;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.ilgelato-map img{
	box-shadow: 0 8px 24px 0 rgba(92,96,83,0.14);
}


/* Product Page */


.product-head-image{
	width: 100%;
    height: 350px;
	margin-bottom: 50px;
}

.product-image{
    margin-top: auto;
    margin-bottom: auto;
}

.product-image img{
    width: auto;
    height: 350px;
}

.product-image-h{
    margin-top: auto;
    margin-bottom: auto;
}

.product-image-h img{
    width: 80%;
    height: auto;
}

.product-detail h1{
	color: #41201F;
	font-size: 34px;
	letter-spacing: 1px;
	line-height: 42px;
	margin-bottom: 10px;
	margin-top: 0;
}

.product-detail h2{
	color: #B79858;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 40px;
}

.product-detail h3{
	color: #5C5C5C;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 30px;
}

.product-detail p{
	color: #191919;
	font-size: 20px;
	line-height: 28px;
}

.product-detail p strong{
	font-weight: 400;
}

.product-detail p:last-child{
	color: #5C5C5C;
	font-size: 18px;
	line-height: 26px;
}

/* Product Similar */

.bg-similar-color{
	background-color: #FEF9F4;
	padding-top: 50px;
    padding-bottom: 50px;
}

.color-similar{
	margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.color-similar h2{
	color: #41201F;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 34px;
}

.color-similar a{
	font-family: 'Montserrat', sans-serif;
	color: #353535;
	font-size: 16px;
	line-height: 18px;
	text-align: right;
	margin-top: 10px;
}

.color-similar a i{
    padding-left: 5px;
}

.color-similar a:hover{
	    color: #D4A74D;
}

/* Footer */

footer{
	background-color: #1F1F1F;
	padding-top: 80px;
    margin-top: -60px;
}

footer a{
	color: #7F7F7F;
	font-family: "Josefin Sans";
	font-size: 18px;
	line-height: 26px;
}

footer a h6, footer h6{
	opacity: 0.5;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.footer-opacity{
	opacity: 0.16;
}

footer a:hover, footer a:hover h6{
	color: #D4A74D;
	opacity: 1;
}

.social-media ul{
    list-style: none;
	padding: 0;
}

.social-media ul li{
    display: inline-block;
	margin-right: 10px;
	float: left;
}

.social-media ul li:last-child{
    margin-right: 0px;
}


.social-media ul li a{
	height: 44px;
	width: 44px;
	border: 1px solid rgba(127, 127, 127, 0.3);
	text-align: center;
	color: #D4A74D;
	line-height: 1.8;
    font-size: 27px;
}

.social-media ul li a:hover{
	background-color: #B79858;
}

.social-media ul li a:hover i{
	color: #1F1F1F;
}


.footer-copyright{
	background-color: #262626;
	margin-top: 80px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer-logos a{
	    display: inline-block;
    position: relative;
}

.footer-logos a:first-child{
	margin-right: 20px;
	padding-right: 25px;
}

.footer-logos a:first-child:after{
	content: "";
	border-right: 1px solid #404040;
    position: absolute;
    top: -10px;
    width: 3px;
    height: 55px;
	right: 0px;
}

.footer-sss a{
	margin-top: 5px;
	color: #7F7F7F; 
	font-size: 14px;
	line-height: 28px;
	float: left;
	margin-right: 20px;
}

/* Recommended Product */

.recommended-product{
	background: linear-gradient(225.27deg, rgba(144,103,29,0.75) 0%, #230909 100%);
}

.recommended-product a{
	padding: 40px;
	height: 300px;
}

.recommended-product a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


.recommended-product a h1{
	color: #FFFFFF;
	font-size: 34px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 10px;
}

.recommended-product a h2{
	opacity: 0.75;
	color: #FFFFFF;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.recommended-product a .product-detail-button{
	width: 50%;
	border: 1px solid rgba(212, 167, 77, 0.5);
	background-color: transparent !important;
	position: absolute;
    bottom: 40px;
}

.recommended-product a:hover  .product-detail-button{
    background: linear-gradient(313.15deg, #D0A349 0%, #F7CC75 100%);
    color: white;
}

.recommended-product-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-position-x: 150px;
}

/* Natural Content */

.bg-natural-head-image {
    background-image: url(../images/bg/bg-head-natural.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.column-2{
	margin-top: 30px;
}

.column-2 h1{
	font-size: 40px;
	letter-spacing: 2px;
}

.column-2 p{
	margin-bottom: 50px;
}

.inner-box-right{
	position: relative;
    margin-left: -280px;
    padding: 25px;
    background: white;
    margin-top: 120px;
	z-index: 2;
}

.inner-box-right h1{
	color: #B79858;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 0;
	margin-bottom: 30px;
}

.inner-box-left{
	position: relative;
    margin-right: -280px;
    padding: 25px;
    background: white;
    margin-top: 120px;
	z-index: 2;
}

.inner-box-left h1{
	color: #B79858;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 0;
	margin-bottom: 30px;
}

.m-bottom-100{
	margin-bottom: 100px;
}

.bg-shadow-2 {
    background-color: #FFFFFF;
    box-shadow: 0 24px 32px 0 rgba(82,97,115,0.1);
	padding-top: 50px;
	padding-bottom: 50px;
}

.column-2 h1 {
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
}

.without-things h2{
	color: #41201F;
	font-size: 34px;
	letter-spacing: 1px;
	line-height: 42px;
	margin-bottom: 20px;
}

.without-things p{
	color: #191919;
	line-height: 28px;
	margin-bottom: 30px;
}

.without-things h3{
	color: #B79858;
	font-size: 20px;
	font-weight: 500;
	line-height: 54px;
}

/* History Content */

.bg-history-head-image {
    background-image: url(../images/bg/bg-head-history.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-box-2-right{
	position: relative;
    margin-left: -140px;
    padding: 25px;
    margin-top: 100px;
    z-index: 2;
}

.inner-box-2-right h1{
	    color: #41201F;
    font-size: 34px;
    letter-spacing: 1px;
    margin-top: 0;
}

.inner-box-2-right h2{
	font-weight: 300;
	opacity: 0.7;
	color: #D8B266;
	font-family: "Josefin Sans";
	font-size: 24px;
	margin-bottom: 0;
}

.inner-box-2-left{
	position: relative;
    margin-right: -140px;
    padding: 25px;
    margin-top: 100px;
    z-index: 2;
}

.inner-box-2-left h1{
	color: #41201F;
    font-size: 34px;
    letter-spacing: 1px;
    margin-top: 0;
}

.inner-box-2-left h2{
	font-weight: 300;
	opacity: 0.7;
	color: #D8B266;
	font-family: "Josefin Sans";
	font-size: 24px;
	margin-bottom: 0;
}

.inner-box-3{
	position: relative;
	padding: 25px;
    z-index: 2;
    background-color: #FFFFFF;
    box-shadow: 0 24px 32px 0 rgba(82,97,115,0.1);
    margin-top: -100px;
	margin-bottom: 50px;
}

.inner-box-3 h1{
	color: #41201F;
    font-size: 34px;
    letter-spacing: 1px;
    margin-top: 0;
}

.inner-box-3 h2{
	font-weight: 300;
	opacity: 0.7;
	color: #D8B266;
	font-family: "Josefin Sans";
	font-size: 24px;
	margin-bottom: 0;
}

.bg-history-discover {
    background-image: url(../images/tarihce/tarihce-5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.discover{
	padding-top: 100px;
	padding-bottom: 100px;
}

.discover h2{
	opacity: 0.7;
	color: #D8B266;
	font-family: "Josefin Sans";
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 0;
}

.discover h1{
	color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 50px;
}

.discover p{
	opacity: 0.7;
	color: #FFFFFF;
	font-family: "Josefin Sans";
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}


/* About Content */

.bg-about-head-image {
    background-image: url(../images/bg/bg-head-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-about-discover {
    background-image: url(../images/hakkimizda/hakkimizda-4.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Activity Content */

.bg-activity-head-image {
    background-image: url(../images/bg/bg-head-activity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.m-bottom-30{
	margin-bottom: 30px;
}

.activity-list{
	background-color: #FFFFFF;
    box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);
	margin-bottom: 30px;
}

.activity-pic-list{
	background-color: #F2DEC1;
    text-align: center;
	height: 100%;
}

.activity-pic-list h1{
	color: #6C5952;
    font-size: 56px;
    font-weight: 600;
    padding-top: 10%;
    margin: 0;
}

.activity-pic-list h2{
	color: #6C5952;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.activity-detail-list{
	padding: 15px;
	padding-left: 0;
}

.activity-detail-list h1 {
    font-weight: 500;
    font-size: 20px;
    color: #804D36;
    margin-top: 0;
    margin-bottom: 5px;
}

.activity-detail-list p {
	color: #5C5C5C;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 300;
}

.activity-detail-button{
	text-align: right;
	color: #353535;
}

a:hover > .row > .col-md-10 > .activity-detail-list > .activity-detail-button {
    color: rgb(212, 167, 77);
}


/* Recipe Content */

.bg-recipe-head-image {
    background-image: url(../images/bg/bg-head-recipe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-list{
	background-color: #FFFFFF;
    box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);
	margin-bottom: 30px;
}

.recipe-pic-list{
	height: 100%;
    background-size: cover;
    background-position: center center;
	text-align: center;
}

.recipe-pic-list img{
    width: 64px;
    height: 64px;
    margin-top: 2.3vw;
	opacity: 0.8;
}

.recipe-detail-list{
    padding-top: 15px;
    padding-bottom: 15px;
	padding-right: 15px;
}

.recipe-detail-list h1 {
    font-weight: 500;
    font-size: 20px;
    color: #539F4A;
    margin-top: 0;
    margin-bottom: 5px;
}

.recipe-detail-list p {
	color: #5C5C5C;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 300;
}

.recipe-detail-button{
	text-align: right;
	color: #353535;
}

a:hover > .row > .col-md-2 > .recipe-pic-list img{
	opacity: 1;
}

a:hover > .row > .col-md-10 > .recipe-detail-list > .recipe-detail-button{
	color: #D4A74D;
}

.recipe-detail h2{
	color: #44913A;
	font-size: 34px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 42px;
	margin-bottom: 20px;
}

.recipe-person{
	color: #B79858;
	font-family: "Josefin Sans";
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 40px;
}

.recipe-detail h3{
	font-weight: 500;
	color: #5C5C5C;
	font-size: 20px;
	line-height: 24px;
}

/* Recipe Values */

.recipe-values {
	background-color: #FEFBF8;
	box-shadow: 0 8px 24px 0 rgba(104,95,84,0.14);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400 !important;
	line-height: 22px;
	color: #7F7F7F;
}

.table thead th {
	border: none;
}

.table th{
	font-weight: 400 !important;
}

.table thead th h3{
	color: #44913A;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 0;
}

.table td, .table th {
    padding: 1.5em;
    vertical-align: top;
    border-top: none;
}

.recipe-values tbody tr:first-child {
	background-color: #f5eee6 !important;
	font-weight: 400;
	color: #5C5C5C !important;
}

.recipe-values tbody tr:first-child td{
	vertical-align: middle !important;
}

.recipe-values tbody tr:nth-child(2n+1){
    background-color: #fdf8f3;
}

/* Contact Content */

.bg-contact-head-image {
    background-image: url(../images/bg/bg-head-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-box-maps{
	    position: relative;
    padding: 45px;
    margin-top: 150px;
    margin-right: -280px;
    z-index: 2;
    background-color: white;
    box-shadow: 0 24px 32px 0 rgba(82,97,115,0.1);
    border-top: 4px solid #D8B266;
}

.inner-box-maps h1{
	color: #D8B266;
	font-size: 28px;
	letter-spacing: 2px;
	line-height: 34px;
}

.inner-box-maps p{
	color: #131313;
	font-size: 20px;
	line-height: 28px;
}

.m-bottom-50{
	margin-bottom: 50px;
}

/* Royal Slider */

.royalSlider {
	width: 100% !important;
	height: 768px !important;
}


.rsABlock h1{
	opacity: 0.7;
    color: #D8B266;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
}

.rsABlock h2{
	color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 68px;
}

.rsABlock p{
	opacity: 0.7;
	color: #FFFFFF;
	line-height: 28px;
}


.bContainer {
	/* position: absolute;
    left: 9.2em;
    width: 50%;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
	text-align: left; */
}

.rsABlock {
    position: relative !important;
    display: block;
    left: auto;
    top: auto;
}

.rsBgImg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.txtCent {
    text-align: center;
    width: 100%;
}

/* Experimental */

.container.bContainer {
	position: relative;
	bottom: -17em; /* Desktop Only -> 120px header + 51px menu-top */
}

/*
Vertical ortalama animasyonların ortadan gelmesine
sebep oluyor, istenilmeyen sonuç...

.container.bContainer {
	height: 100%;
}
.container.bContainer > .row {
    position: relative;
    height: 100%;
} */

.rsVerticalCenter {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

/* rsPagination */

.rsPagination {
    position: absolute;
    z-index: 35;
    overflow: visible;

	width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    right: 8em;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.rsPaginationItem {
	cursor: pointer;
	position: relative;
	color: #D8B266;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	margin-top: 34px;
	text-align: right;
}

.rsPaginationItem:first-child {
	margin-top: 0;
}

.rsPaginationItem:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 40px;
	width: 16px;
	height: 2px;
	background-color: #D8B266;
}

.rsPaginationSelected{
	color: #FFFFFF;
	font-size: 20px;
}

.rsPaginationItem.rsPaginationSelected:before {
	width: 47px;
    background-color: white;
}


/* MENU */
.menu > ul > li > ul > li:hover ul{
	display:block;
	background-color:#F4C871;
	color:#fff !important;
}

.menu > ul > li > ul > li:hover > a{
	background: linear-gradient(133.15deg, #D0A349 0%, #F7CC75 100%);
	color:#fff !important;
	font-weight: 500;
}

.menu > ul > li > ul > li > ul {
	display: none;
    position: absolute;
    left: 350px;
    top: -10px;
    background-color: #F4C871;
    padding: 20px;
}

.menu > ul > li > ul > li > ul > li a{
	padding:5px;
	width:250px;
	padding-left:10px;
	font-size:12pt;
	font-weight: 300;
	color: #41201F;
	border-bottom:1px solid #E8BC65;
}

.menu > ul > li > ul > li > ul > li a:hover{
	color: #41201F;
	font-weight: 500;
}

.menu > ul > li > ul > li > ul > li{
	padding:5px;
}

.menu > ul > li > ul > li > ul > li a i{
	float: right;
}

/* MENU RESIM */
.menu > ul > li > ul > li > ul > li > img {
	    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu > ul > li > ul > li > ul > li:hover img{
	display:block;
	max-height:350px;
}