/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Megamenu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
  width: 80%;
  margin: 0 auto;
}

/** Menu top */

.menu-top {
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 15px;
}
.menu-top > ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
.menu-top > ul:before,
.menu-top > ul:after {
  content: "";
  display: table;
}
.menu-top > ul:after {
  clear: both;
}
.menu-top > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}
.menu-top > ul > li a {
  text-decoration: none;
  padding: 0.7em 1.5em;
  display: block;
  color: #B68A39;
  position: relative;
  font-size: 18px;
}
.menu-top > ul > .active > a:after {
  position: absolute;
  width: 100%;
  background-color: #f3c770;
  bottom: 0;
  height: 4px;
  left: 0;
  z-index: 1;
}
.menu-top > ul > li a:after {
  content: ""
}
.menu-top > ul > li a:hover,
.menu-top > ul > .active > a {
  color: #f3c770;
}
.menu-top > ul > li a:hover:after {
  position: absolute;
  width: 100%;
  background-color: #f3c770;
  bottom: 0;
  height: 4px;
  left: 0;
  z-index: 1;
}

/** Menu mobile */

.menu-mobile {
  display: none;
  padding: 20px;
}

/** Menu */

.menu {
  float: left;
  width: 100%;
}

.menu > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}

.menu > ul:after {
  clear: both;
}

.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li:first-child a {
  padding: 0 1.5em;
  padding: 0 1.5em 0 0;
}

.menu > ul > li a {
  text-decoration: none;
  padding: 0.7em 1.5em;
  display: block;
  color: white !important;
  position: relative;
}

.menu > ul > li a.menu-title:after {
  content: ""
}

.menu > ul > li:hover a.menu-title {
  color: #f3c770 !important;
}

.menu > ul > li:hover a.menu-title:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 100%;
  text-align: center;
  background: #f3c770;
  z-index: 100;
}

.menu > ul > li > ul {
  display: none;
  background: white;
  padding: 20px;
  position: absolute;
  z-index: 99;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 4px solid #41201f;
  left: 10%;
  top: 51px;
  width: 90%;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 100%;
  background: none;
  float: left;
}

.menu > ul > li > ul > li a {
  color: #000 !important;
  padding: 20px;
  width: 331px;
  display: block;
  border-bottom: 1px solid #ebebeb;
  float: left;
}

.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 65%;
  float: left;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
  border: 0;
}

.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
  .menu {
	box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.09);
   }

   .menu-container {
    width: 100%;
  }
  .menu-mobile {
    display: block;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
	  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.06);
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100% !important;
    display: block;
  }
	.menu > ul > .menu-dup{
        box-shadow: none;
	}

	.menu > ul > .menu-dup a {
         padding-bottom: 0px;
    color: #C49B49 !important;
  }
  .menu > ul > li a i {
    float: right;
  }
  .menu > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu > ul .menu-container {
    width: 80%;
    margin: 0 auto;
    background: #e9e9e9;
  }
  /* MOD
  .menu > ul .menu-mobile {
    display: none;
    padding: 20px;
  } */
  .menu > ul .menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > ul .menu > ul:before,
  .menu > ul .menu > ul:after {
    content: "";
    display: table;
  }
  .menu > ul .menu > ul:after {
    clear: both;
  }
  .menu > ul .menu > ul > li {
    float: left;
    background: #e9e9e9;
    padding: 0;
    margin: 0;
  }
  .menu > ul .menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
  }
  .menu > ul .menu > ul > li:hover {
    background: #f0f0f0;
  }
  .menu > ul .menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > ul .menu > ul > li > ul:before,
  .menu > ul .menu > ul > li > ul:after {
    content: "";
    display: table;
  }
  .menu > ul .menu > ul > li > ul:after {
    clear: both;
  }
  .menu > ul .menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
  }
  .menu > ul .menu > ul > li > ul > li a {
    color: #000 !important;
    padding: 20px;
    width: 100%;
    display: block;
    float: left;
  }
  .menu > ul .menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > ul .menu > ul > li > ul > li > ul:before,
  .menu > ul .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
  }
  .menu > ul .menu > ul > li > ul > li > ul:after {
    clear: both;
  }
  .menu > ul .menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
  }
  .menu > ul .menu > ul > li > ul > li > ul > li a {
    border: 0;
  }
  .menu > ul .menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
  }
  .menu > ul .menu > ul > li > ul.normal-sub > li {
    width: 100%;
  }
  .menu > ul .menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
  }
  .menu .show-on-mobile {
	display: block;
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 20px;
  }
	
.menu > ul .menu-container {
    width: 100%;
  }
  .menu > ul .menu-mobile {
    display: block;
  }
  .menu > ul .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul .menu > ul {
    display: none;
  }
  .menu > ul .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul .menu > ul > li > ul {
    position: relative;
  }
  .menu > ul .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu > ul .menu .show-on-mobile {
    display: block;
  }

	.menu > ul > li > ul > li > ul > li a{
		    width: 100% !important;
		font-weight: 500 !important;
	}

	.menu > ul > li > ul > li a{
		font-weight: 500;
    	padding-left: 10%;
	}

	.menu > ul > li > ul > li > ul > li a{
	    padding: 15px !important;
	}

}

/** Yeni Eklenenler (Mert) */

.menu > ul > li > ul > li:hover ul {
  display: block;
  background-color: #F4C871;
  color: #fff !important;
}

.menu > ul > li > ul > li:hover > a {
  background: linear-gradient(133.15deg, #D0A349 0%, #F7CC75 100%);
  color: #fff !important;
  font-weight: 500;
}

.menu > ul > li > ul > li > ul {
  display: none;
  position: absolute;
  left: 350px;
  top: -10px;
  background-color: #F4C871;
  padding: 20px;
}

.menu > ul > li > ul > li > ul > li a {
  padding: 5px;
  width: 250px;
  padding-left: 10px;
  font-size: 12pt;
  font-weight: 300;
  color: #41201F;
  border-bottom: 1px solid #E8BC65;
}

.menu > ul > li > ul > li > ul > li a:hover {
  color: #41201F;
  font-weight: 500;
}

.menu > ul > li > ul > li > ul > li {
  padding: 5px;
}

.menu > ul > li > ul > li > ul > li a i {
  float: right;
}

/* megamenu inner images */

.menu > ul > li > ul > li > ul > li > img {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu > ul > li > ul > li > ul > li:hover img {
  display: block;
  max-height: 350px;
}

/** Yeni Eklenenler (Kutay) */

/*
.menu-dup class'ı menu-top'ın
kopyası/duplicate'i için
*/
.menu > ul > li.menu-dup {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .menu .menu-logo-holder {
    display: none;
  }
  .menu .menu-mobile {
    position: relative;
  }
  .menu .menu-mobile .logo { /* MOD */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 43.5px;
  }
  .navbar {
    width: 100%;
    left: 0;
    margin: 0 auto;
  }
  .menu-top {
    display: none;
  }
  .menu > ul > li > ul {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    padding: 0;
  }
  .menu > ul > li > ul > li > ul {
   position: static;
    display: block;
    width: 100%;
    top: 0;
    margin-top: 0;
    padding-left: 10%;
  }

  /* for duplicate of menu-top */
  .menu > ul > li.menu-dup {
    display: block;
  }
}

/* Hamburger Menu */

.hamburger-menu {
  position: absolute;
  top: 8px;
  right: 0;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 20px;
}

/* @media only screen and (max-width: 991px) { */
  .open {
    background-image: url(../images/bg/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
/* } */

/* Buna gerek .menu-mobile zaten 991 üstü display none
@media only screen and (min-width: 991px) {
  .hamburger-menu {
    display:none;
  }
} */

.hamburger-menu .bar,
.hamburger-menu .bar:after,
.hamburger-menu .bar:before {
  width: 30px;
  height: 4px;
}

.hamburger-menu .bar {
  position: relative;
  transform: translateY(8px);
  background: white;
  transition: all 0ms 300ms;
}
.hamburger-menu .bar.animate,
.menu.open .hamburger-menu .bar {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar.animate:after,
.menu.open .hamburger-menu .bar:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu .bar.animate:before,
.menu.open .hamburger-menu .bar:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
