@charset "UTF-8";
/* Responsive CSS Document */

/* Large devices (desktops, less than 1200px) */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
.p-r-30{
	padding-right: 30%;
}
	
}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 1024px) {

.navbar {
    position: absolute;
    margin-bottom: 0;
    width: 93%;
}
	
.t-150 {
    padding-top: 110px;
}
	
.rsPagination {
    right: 4em;
}
	
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

.p-r-30{
	padding-right: 0%;
}
	
.activity-detail-list h2 {
    margin-bottom: 95px;
}
	
.activity-pic-list h2 {
    font-size: 28px;
    padding-top: 50%;
}
	
.activity-pic-list-home h2 {
    font-size: 46px;
    padding-top: 23%;
}
	
footer a h6, footer h6 {
    font-size: 15px;
}

footer a {
    font-size: 16px;
}

.footer-copyright {
    margin-top: 50px;
}

footer {
    padding-top: 40px;
}
	
.footer-sss a {
    display: inline-block;
    float: none;
}
	
.footer-sss{
	text-align: center;
    padding-bottom: 20px;
	border-bottom: 1px solid #363636;
}
	
.footer-logos{
    padding-top: 20px;
	text-align: center !important;
	padding-bottom: 10px;
}

.footer-logos a{
    float: none;
    display: inline-block;
}
	
.gelato-factory{
	padding-top: 20px;	
	border-bottom: 1px solid #363636;
	padding-bottom: 20px;
}

.tabs a h4 {
    float: none;
}
	
.inner-box-2-left {
    margin-top: 50px;
}
	
.inner-box-2-right {
    margin-top: 50px;
}
	
.scrolldown {
    margin-top: 30px;
}

.container.bContainer {
    text-align: center;
}
	
.rsABlock h1 {
    font-size: 20px;
}
	
.rsABlock h2 {
    font-size: 42px;
	line-height: 54px;
}

.rsABlock p {
    font-size: 18px;
	line-height: 24px;
}

.slick-dots li {
    width: 5px !important;
    height: 5px !important;
    margin: 0 8px !important;
}

.slick-dots li button {
    width: 5px !important;
    height: 5px !important;
}
	
	
.rsPaginationItem {
    position: relative;
    float: left;
	margin-right: 20px;
	margin-top: auto;
}

.rsPaginationItem:last-child {
    margin-right: 0;
}
	
.rsPagination {
    bottom: 20px;
    top: auto;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
	
.rsPaginationItem:before {
    content: none;
}
	
	
.rsMinW, .rsMinW .rsOverflow, .rsMinW .rsSlide, .rsMinW .rsVideoFrameHolder, .rsMinW .rsThumbs {
    height: 568px !important;
}
	
.container.bContainer {
    bottom: -9em !important;
}
	
.product-detail-list h3 {
    font-size: 18px;
}
	
.product-detail-list {
    padding: 14px;
}
	
.bg-two-color {
    background: none;
}

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

.activity-pic-list h2 {
    font-size: 56px;
    padding-top: 13%;
}
	
.product-detail-list h3 {
    font-size: 20px;
}
	
.product-detail-list p{
        font-size: 18px;
}
	
.recipe-detail h2 {
    font-size: 24px;
    line-height: normal;
}
	
.activity, .recipe{
	text-align: center;
}	
	
footer{
	text-align: center;
}
	
footer .container .row .col-md-2{
	margin-bottom: 30px;
}

.footer-copyright {
    margin-top: 0;
}
	
	
.footer-sss a {
    margin-top: 10px;
    font-size: 14px;
    margin-right: 0;
    width: 100%;
    text-align: center;
}
	
.footer-sss{
	border-bottom: 1px solid #363636;
	padding-bottom: 20px;
}

.social-media ul li{
	float: none;
}
	
.recipe-detail-list-home {
    margin-left: 15px;
}

.activity-detail-list-home {
    margin-left: 15px;
}
	
.no-padding{
	padding-left: 15px;
	padding-right: 15px;
}
	
.bg-pernigotti-right {
    padding-left: 15px;
	padding-bottom: 38px;
	padding-top: 38px;
}

.bg-ilgelato-left {
    padding-right: 15px;
    padding-bottom: 28px;
    padding-top: 28px;
}

.inner-box-left {
        margin-right: 0;
    padding: 15px;
    margin-top: 0;
}
	
.inner-box-right {
    margin-left: 0;
   	padding: 15px;
    margin-top: 0;
}	
	
.inner-box-2-left {
    margin-right: 0;
    padding: 15px;
    margin-top: 0;
}
	
.inner-box-2-right {
    margin-left: 0;
    padding: 15px;
    margin-top: 0;
}	

.discover {
    padding-top: 40px;
    padding-bottom: 40px;
}
	
.discover > .row > .text-right{
	text-align: center !important;
}

.discover > .row > .text-left{
	text-align: center !important;
	margin-top: 30px;
}
	
.discover > .row > .text-left > a, .discover > .row > .text-right > a{
	width: 100%;
}
	
.inner-box-3 {
    margin-top: 0;
    margin-bottom: 30px;
}
	
.tabs a h4 {
    font-size: 16px;
	margin-top: 0px;
}
	
.head-image {
    height: auto;
    top: 0;
    padding-bottom: 20px;
}
	
.bg-chocolate-color {
    padding-top: 20px;
}

.bg-shadow-2 {
    padding-bottom: 20px;
    padding-top: 30px;
}
	
.without-things h2 {
    font-size: 24px;
	line-height: 32px;
}
	
.activity-detail-list {
    padding-left: 15px;
}

.inner-box-right h3 {
    text-align: center;
	font-size: 20px;
}

.inner-box-left h3 {
    text-align: center;
}
	
.recipe-detail h3 {
    font-size: 24px;
    line-height: normal;
}
	
.m-top-70 {
    margin-top: 35px;
}
	
.m-bottom-70 {
    margin-bottom: 15px;
}
	
.product-head-image {
    margin-bottom: 20px;
}
	
.column h2 {
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 20px;
}
	
.column p {
    margin-bottom: 20px;
    margin-top: auto;
	padding-left: 0;
    padding-right: 0;
}
	
.column {
    margin-bottom: 30px;
}
	
.recipe-pic-list-home {
    height: 210px;
}

.recipe-pic-list-home img {
    margin-top: 20vw;
}

.activity-pic-list-home {
    height: 150px;
}
	
.activity-pic-list-home h2 {
	padding-top: 8%;
    font-size: 50px;
}
	
.activity h2 {
    font-size: 24px;
}

.t-150 {
    padding-top: 100px;
}
	
.product-detail h1 {
    text-align: center;
}
	
.product-detail h2 {
	margin-bottom: 30px;
    text-align: center;
}
	
.product-image-h img {
    width: 90%;
    height: auto;
}
	
.category-product {
	text-align: center;
}

.category-product p {
    width: 100%;
}
	
.category-product h2 {
    font-size: 30px;
    line-height: 32px;
}
	
.head-style h1 {
    font-size: 28px;
    line-height: 36px;
}
	
.head-style h2 {
    font-size: 20px;
    line-height: 24px;
}

.head-style p {
    font-size: 18px;
    line-height: 24px;
}
	
.t-70 {
    margin-top: 15px;
}

.ilgelato-map h4 {
    font-size: 22px;
    line-height: 28px;
	 margin-bottom: 10px;
}

.color-similar h2 {
    font-size: 20px;
    line-height: normal;
}
	
.bg-chocolate-head-image {
    background-position: center top;
}
	
.category-chocolate {
    text-align: center;
}
	
.category-chocolate h1 {
    font-size: 30px;
    line-height: 32px;
}
	
.inner-box-3 h2 {
    font-size: 24px;
    text-align: center;
}
	
.inner-box-3 h3 {
    font-size: 20px;
    text-align: center;
}
	
.inner-box-2-left h2 {
	    font-size: 24px;
    text-align: center;
}

.inner-box-2-left h3 {
	font-size: 20px;
    text-align: center;
}
	
.inner-box-2-right h2 {
	    font-size: 24px;
    text-align: center;
}

.inner-box-2-right h3 {
	font-size: 20px;
    text-align: center;
}
	
.m-bottom-50 {
    margin-bottom: 25px;
}

.column-2 p {
    margin-bottom: 25px;
}
	
.activity-pic-list h3 {
        padding-bottom: 10%;
    font-size: 20px;
}
	
.activit-title h2{
	text-align: center;
}
	
.only-mobile{
	display: block;	
}
	
.only-desktop{
	display: none;	
}
	
.column-2 h2 {
    font-size: 24px;
	line-height: normal;
}
	
.discover h2 {
    margin-bottom: 20px;
}
	
.inner-box-maps {
    margin-top: 0;
    margin-right: 0;
}
	
}

/* Extra Extra small devices (portrait phones, less than 321px) */
@media (max-width: 320px) {
.tabs a h4 {
    font-size: 12px;
	margin-top: 0px;
}
}